@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

.menuBtn:hover,
.menuBtn:focus {
  background: #c6e89e;
}

.menuBtn:active {
  background: #bad69a;
}

.dictBtn:hover,
.dictBtn:focus {
  background: #ffe067;
}

.dictBtn:active {
  background: #e7cb5c;
}

.failedBtn:hover,
.failedBtn:focus {
  background: #9c96e5;
}

.menu2Btn:active {
  background: #9690d3;
}

.mistakeMade {
  color: #a3254b;
}

.word1 {
  font-size: 1.5rem;
  color: #2d2a32;
}

.word2 {
  font-size: 1.25rem;
  color: #403c46;
}

.word3 {
  font-size: 1.125rem;
  color: rgb(64, 60, 70);
}

.purpleCard {
  background: #4f22d0;
}

.greenCard {
  background: #22d07b;
}

.lettersLayout {
  grid-template-areas:
    ". a ."
    "b . c"
    ". d .";
}

.letter1 {
  grid-area: a;
}

.letter2 {
  grid-area: b;
}

.letter3 {
  grid-area: c;
}

.letter4 {
  grid-area: d;
}

.unavailableWord {
  pointer-events: none;
  opacity: 0.5;
}

.dottedBar {
  width: 2rem;
}

.dottedNormal {
  background: #282e3c;
}

.dottedError {
  background: #b20101;
}

.optionSelected {
  background: #22d07b;
  color: #282e3c;
}
